# Configuración del servidor
PORT=3000
NODE_ENV=production

# Credenciales del administrador
ADMIN_USERNAME=admcomedor
ADMIN_PASSWORD=adm.comedor.2025

# Configuración de JWT
JWT_SECRET=tu_secreto_jwt_super_seguro_2025

# Configuración de la base de datos
DB_PATH=database.sqlite

# Configuración de la API de UNICEN
UNICEN_API_URL=https://comedor.unicen.edu.ar/api 